.body > p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
}

.body > input {
  border: none;
  border-bottom: 1px solid gray;
}

.h {
  color: blueviolet;
  font-size: xx-large;
  font-weight: bolder;
}
.body {
  width: 40%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-top: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn1 {
  background-color: blueviolet;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: 150px;
  height: 30px;
  border-radius: 10px;
}
